@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #262b44;
  padding: 0 0.25rem;
}

h1, h2 {
}

p, aside {
  line-height: 1.6rem;
}

ul {
  list-style-type: none;
  padding: 0 0;
}

span {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input:placeholder {
  color: #e0e5ee;
}

select {
  color: #262b44;
  font-weight: bold;
  padding: 1em 1em;
  background: #ffffff;
  border: 1px solid #c0cbdc;
  border-radius: 5px;
}