.controls {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-top: 2rem;
}

.select-format-label {
  margin: auto 0;
  font-size: 0.75rem;
  font-weight: bold;
}

.select-odds {
  width: 10rem;
  height: 2.45rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid #c0cbdc;
  font-size: 0.75rem;
  color: #262b44;
}

.field-names {
  display: none; 
}

.field-label {
  font-size: 0.875rem;
  font-weight: bold;
}

.field-label-small {
  font-size: 0.875rem;
  font-weight: bold;
  margin-inline: auto;
}

.option {
  width: 95%;
  margin: 2rem auto;
}

.option-label {
  font-size: 0.875rem;
  font-weight: bold;
}

.odds {
  width: 100%;
  height: 2.75rem;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.6rem 0;
  border: 1px solid #c0cbdc;
  text-align: center;
  font-size: 0.9375rem;
  color:#262b44;
}

.odds::placeholder {
  color: #737b90;
}

.outputs {
  display: flex; 
}

.output-span {
  background-color: #c0cbdc;
  padding: 0.75rem 0;
  margin: 0 0.1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
}

.outputs-small {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.totals {
  width: 95%;
  display: flex;
  margin-inline: auto;
  padding: 2rem 0;
}

.margin-label {
  font-size: 0.875rem;
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin: auto 0;
  text-align: center;
  flex: 1;
}

.margin-output {
  padding: 0.75rem 0.5rem;
  background-color:#262b44;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

@media (min-width: 45rem) {
  .field-names {
    width: 77.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    margin-left: 9rem;
  }

  .field-label {
    text-align: center;
  }

  .field-label-small {
    display: none;
  }

  .option {
    display: grid;
    grid-template-columns: 1.5fr 1fr 5fr;
    margin: 0 auto 1rem auto;
    gap: 0.5rem;
    height: 2.5rem;
  }

  .option-label {
    margin: auto 0;
  }

  .odds {
    width: 7.25rem;
    height: 2.75rem;
  }

  .outputs {
    gap: 0.5rem;
    margin: auto 0;
  }

  .totals {
    display: flex; 
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .margin-label {
    flex: 0;
    margin-right: 2rem;
  }

  .margin-output {
    padding: 0.65rem 5rem;
    flex: 0;
  }

}