.margin-calc {
  background-color: #e0e5ee ;
  height: 20em;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.01);
}

.margin-info {
  margin: 0 2em -10px 2em;
  padding-top: 35px;
}

.info-span {
  padding-left: 87px;
  font-size: 14px;
  font-weight: bold;
}

.info-span:first-of-type {
  padding-left: 92px;
}


.info-span:last-of-type {
  padding-left: 97px;
}

.odds1 {
  text-align: center;
  font-size: 15px;
  margin: 2em 0 1em 2em ;
  width: 107px;
  height: 39px;
  border: 1px solid #c0cbdc;
}

.odds2 {
  text-align: center;
  font-size: 15px;
  margin: 0 0 2em 2em;
  width: 107px;
  height: 39px;
  border: 1px solid #c0cbdc;
}

.margin-outputs {
  display: inline-block;
}

.margin-label {
  font-size: 14px;
  font-weight: bold;
}

.output-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 42px;
  box-sizing: border-box;
  background-color: #c0cbdc;
  margin: 0 0 0 2em;
  font-size: 14px;
  font-weight: bold;
}

.totals {  
  position: relative;
  margin: 75px 25px 0 0;
}

.row {
  position: absolute;
  bottom: 0;
  right: 0;
}

.margin-output {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25px;
  width: 220px;
  height: 45px;
  box-sizing: border-box;
  background-color: #262b44;
  font-size: 14px;
  font-weight: bold;
  color: white;
}