.main-container {
  width: 45em;
  margin: 0 auto;
}

.calculator {
  background-color: #c0cbdc;
  height: 20em;
}

.calc-intro-box {
  margin-bottom: 20px;
}

.calc-head {
  font-size: 36px;
  margin-bottom: 0px;
}

.calc-info {
  margin: 0 2em -10px 2em;
  padding-top: 35px;
}

.info-span {
  padding-left: 80px;
  font-size: 14px;
  font-weight: bold;
}

.info-span:first-of-type {
  padding-left: 95px;
}

.odds1 {
  text-align: center;
  font-size: 15px;
  margin: 2em 0 1em 2em ;
  width: 105px;
  height: 40px;
  border: 1px solid #e0e5ee;
}

.odds2 {
  text-align: center;
  font-size: 15px;
  margin: 0 0 2em 2em;
  width: 105px;
  height: 40px;
  border: 1px solid #e0e5ee;
}

.odds1::placeholder .odds2::placeholder {
  color: #e0e5ee;
}

.calc-outputs {
  display: inline-block;
}

.calc-label {
  font-size: 14px;
  font-weight: bold;
}

.output-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 42px;
  box-sizing: border-box;
  background-color: #e0e5ee;
  margin: 0 0 0 2em;
  font-size: 14px;
  font-weight: bold;
}

.totals {  
  position: relative;
  margin: 75px 25px 0 0;
}

.row {
  position: absolute;
  bottom: 0;
  right: 0;
}

.margin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 25px;
  width: 220px;
  height: 45px;
  box-sizing: border-box;
  background-color: #262b44;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.calc-footer {
  display: inline-block;
  margin-top: 20px;
}