.navbar {
  text-align: center;
  margin: 20px 0;
}

.calculators-dropdown {
  position: relative;
  display: inline-block;
}

.calculators-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.calculators-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.calculators-menu a:hover {
  color: #ffffff; 
  background-color: #262b44;
}

.calculators-dropdown:hover .calculators-menu {
  display: block;
}

.navbar-item {
  padding: 50px;
}