.controls {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-top: 2rem;
  }

.select-format-label {
    margin: auto 0;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
.select-odds {
    width: 10rem;
    height: 2.45rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid #c0cbdc;
    font-size: 0.75rem;
    color: #262b44;
}