.table-container {
  overflow-x: auto;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    text-transform: capitalize;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.content-table thead tr {
    background-color: #262b44;
    font-weight: 400;
    color: white;
    text-align: left;
}

.content-table th {
    min-width: 55px;
    padding: 20px 15px;
}

.content-table th:nth-child(-n+2):hover {
    color: #e0e5ee;
    font-weight: 900;
}

.content-table td {
    padding: 20px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #e0e5ee;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #262b44;
}